In [2]:
import pandas as pd

In [3]:
import json

In [4]:
df = pd.read_json('data.json')

In [5]:
df.head()

,id,first_name,last_name,email,gender,date_of_birth,industry,salary,years_of_experience
0,1,Annmarie,Crooke,acrooke0@gizmodo.com,None,09/07/1978,Other Specialty Stores,180466.37,10.0
1,2,Morrie,Lahive,mlahive1@imdb.com,None,20/04/1948,Diversified Financial Services,239640.00,6.0
2,3,Matthias,Roden,mroden2@abc.net.au,M,30/11/1998,Metal Fabrications,139679.79,31.0
3,4,Madelin,Domke,mdomke3@mozilla.com,None,05/05/1979,n/a,196786.25,12.0
4,5,Thain,Souter,tsouter4@cisco.com,M,03/08/2002,n/a,140291.87,28.0

In [17]:
df.groupby('industry')['years_of_experience'].mean().sort_values(ascending=False)

industry
Books                                                      34.000000
Precision Instruments                                      29.500000
Paints/Coatings                                            29.000000
Building operators                                         28.666667
Oil/Gas Transmission                                       28.000000
                                                             ...
Other Pharmaceuticals                                      11.000000
Biotechnology: Commercial Physical & Biological Resarch    10.166667
Food Distributors                                          10.000000
Biotechnology: In Vitro & In Vivo Diagnostic Substances    10.000000
Diversified Electronic Products                             8.000000
Name: years_of_experience, Length: 128, dtype: float64

In [16]:
df.groupby('industry')['years_of_experience'].max().sort_values(ascending=False)

industry
Major Chemicals                            35.0
Computer Software: Prepackaged Software    35.0
Computer peripheral equipment              35.0
Diversified Financial Services             35.0
EDP Services                               35.0
                                           ...
Ordnance And Accessories                   15.0
Pollution Control Equipment                14.0
Tools/Hardware                             14.0
Other Pharmaceuticals                      11.0
Diversified Electronic Products             8.0
Name: years_of_experience, Length: 128, dtype: float64

In [18]:
df.groupby('industry')["salary"].mean().sort_values(ascending=False)

industry
Package Goods/Cosmetics                             225911.040000
Oil/Gas Transmission                                216387.570000
Tools/Hardware                                      211104.490000
Motor Vehicles                                      195850.293333
Textiles                                            195268.585000
                                                        ...
Recreational Products/Toys                           69022.200000
Retail: Computer Software & Peripheral Equipment     39419.270000
Books                                                37566.690000
Pollution Control Equipment                          36684.770000
Ordnance And Accessories                             31997.990000
Name: salary, Length: 128, dtype: float64

In [19]:
df.groupby('industry')["salary"].max().sort_values(ascending=False)

industry
Major Banks                                         249908.00
Consumer Specialties                                249904.11
Power Generation                                    249775.33
EDP Services                                        249689.93
Major Pharmaceuticals                               249634.31
                                                      ...
Paints/Coatings                                      81038.53
Retail: Computer Software & Peripheral Equipment     46895.42
Books                                                37566.69
Pollution Control Equipment                          36684.77
Ordnance And Accessories                             31997.99
Name: salary, Length: 128, dtype: float64

In [28]:
df.groupby(['industry','years_of_experience'])["salary"].mean().sort_values()

industry                                 years_of_experience
Commercial Banks                         16.0                    30132.93
Other Specialty Stores                   2.0                     30471.98
Restaurants                              12.0                    30481.76
Computer Software: Prepackaged Software  22.0                    30906.61
Electrical Products                      2.0                     30910.58
                                                                  ...
Environmental Services                   23.0                   249428.38
Consumer Specialties                     31.0                   249488.69
Building Materials                       6.0                    249613.50
Power Generation                         17.0                   249775.33
Consumer Specialties                     21.0                   249904.11
Name: salary, Length: 1306, dtype: float64